---
import BasicLayout from "../../../layouts/BasicKidsLayout.astro";
const title = "Home";
const subtitle = "Changing the world, one story at a time";
const PrimaryColor = "#fffb0d";
const NavTextColor = "#000000";
import "../../../styles/basicKids.css";
import "../../../styles/kidsfonts.css";
import "../../../styles/fonts.css";
---

<BasicLayout
	title={title}
	subtitle={subtitle}
	PrimaryColor={PrimaryColor}
	NavTextColor={NavTextColor}
>
	<div class="vertical main marginTop">
		<div class="horizontal">
			<div class="double">
				<img
					src="https://media.discordapp.net/attachments/903265431396179978/977713498090008606/MaebeeTV-logos.jpeg"
					alt="The MaebeeTV logo."
					width="400px"
					height="400px"
				/>
			</div>
			<div class="vertical double">
				<p class="handwriting">
					Welcome to the incredible world of MaebeeTV! We're a super-duper group of friends who started this amazing movie club in 2021. Our goal is to teach important lessons to everyone, no matter how big or small they are. We think that everyone's unique experiences can become magical movies or awesome short films. We're like a big, happy family, and we want to make the world a better place, one story at a time. Each story we create helps us fix any misunderstandings and spread lots of kindness and joy. So, let's have a blast and make the world brighter together!
				</p>
			</div>
		</div>
		<div class="marginTop" />
		<div class="marginTop" />
	</div>
</BasicLayout>
<style>
	iframe {
		width: 60%;
		height: 120vh;
		border: none;
	}
</style>
