---
import BasicLayout from "../layouts/NewBasicLayout.astro";
import Block from "../components/TextBlock.astro";
const title = "Home";
const subtitle = "Changing the world, one story at a time";
const PrimaryColor = "#ff9dd0";
const NavTextColor = "#000000";
---

<BasicLayout
    title={title}
    subtitle={subtitle}
    primaryColor={PrimaryColor}
    navTextColor={NavTextColor}
>
<Block style="text-align: left;" textColour="#000000" backColour="#ffffff">
    <h1>this is a test</h1>
    <p>this is also a test</p>
</Block>
</BasicLayout>
