---
import BasicLayout from "../layouts/NewBasicLayout.astro";
import AnimBlock from "../components/AnimationBlock.astro";
import Item from "../components/Item.astro";
const title = "Home";
const subtitle = "Changing the world, one story at a time";
const PrimaryColor = "#ff9dd0";
const NavTextColor = "#000000";
import "../styles/newDefault.css";
---

<BasicLayout
    title={title}
    subtitle={subtitle}
    primaryColor={PrimaryColor}
    navTextColor={NavTextColor}
>
<div style="background-color: white;">
    <AnimBlock style="width: 60%;" backColour="#ffffff">
        <h1 class="titleText">Welcome to</h1>
        <h1 class="titleText hover">MaebeeTV</h1>
    </AnimBlock>
    <AnimBlock backColour="#ffffff">
        <p class="subtitleText">
            We are a movie production company that strives to change the way stories are told.
        </p>
    </AnimBlock>
</div>
<div>
<Item image="https://media.discordapp.net/attachments/903265431396179978/977713497595084901/Maebee_TVAsks.png" title="MaebeeTV Asks" float="left" />
</div>
</BasicLayout>