---
const { backColour } = Astro.props;
import Test from "../scripts/test.js";
import "../styles/animation.css"
---

<style define:vars={{ backColour }}>
    div.container {
        width: 100%;
        height: fit-content;
        background-color: var(--backColour);
        display: block;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    .anim {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content:start;
        gap: 20px;
    }
    .itemContainer {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
</style>

<div class="container">
    <Test client:only />
    <div class="itemContainer">
        <div class="anim"><slot /></div>
    </div>
</div>
