---
const { image, title, float } = Astro.props;
import AnimBlock from "../components/AnimationBlock.astro";
---
<style define:vars={{ float }}>
@import '@fontsource-variable/baloo-bhaina-2';
div {
    width: 40%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
AnimBlock {
    width: 35%;

}
img {
    width: 100%;
    height: fit-content;
}
p {
    font-family: 'Baloo Bhaina 2 Variable', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
</style>


<div>
    <AnimBlock startLocation="left"><p>{title}</p></AnimBlock>
    <AnimBlock startlocation="left"><img src={image} alt={"an image displaying " + title} /></AnimBlock>
</div>