---
const { PrimaryColor, NavTextColor } = Astro.props;
const primaryColour = PrimaryColor;
const textColour = NavTextColor;
const AllFilms = await fetch("https://api.npoint.io/f2948809e44e0dab1ee3").then(
    (response) => response.json()
);
const AllProjects = await fetch(
    "https://api.npoint.io/610b9bb2a97b2e3a797f"
).then((response) => response.json());
for (var i = 0; i < AllProjects.pages.length; i++) {
    AllProjects.pages[i].glob = "../projects/" + AllProjects.pages[i].glob;
}
for (var i = 0; i < AllFilms.pages.length; i++) {
    AllFilms.pages[i].glob = "../films/" + AllFilms.pages[i].glob;
}
---

<style define:vars={{ primaryColour, textColour }}>
    nav {
        background-color: var(--primaryColour);
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: stretch;
        z-index: 1;
        width: 100%;
    }

    nav div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        float: left;
        overflow: visible;
    }

    li a,
    .dropbtn {
        display: inline-block;
        color: var(--textColour);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover,
    .dropdown:hover .dropbtn {
        background-color: rgba(0, 0, 0, 0.2);
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--primaryColour);
        min-width: 160px;
        max-width: 200px;
        height: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        overflow: visible;
    }

    .dropdown-content a {
        color: var(--textColour);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    a.homeButton {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }

    a.homeButton img {
        margin: 8px;
    }

    a.homeButton p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
        color: var(--textColour);
    }
</style>
<nav>
    <div>
        <a class="homeButton" href="../">
            <img
                width="32"
                height="32"
                src="https://cdn.discordapp.com/attachments/903265431396179978/977713498090008606/MaebeeTV-logos.jpeg"
            />
            <p class="serif">MaebeeTV Productions</p>
        </a>
        <ul>
            <li>
                <a href="/"> Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li class="dropdown">
                <a class="dropbtn" href="javascript:void(0)">
                    Films
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-6 h-6"
                        width="12px"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <div class="dropdown-content">
                    {
                        AllFilms.pages.map((post) => (
                            <a href={post.glob}>{post.title}</a>
                        ))
                    }
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn" href="javascript:void(0)">
                    Projects
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-6 h-6"
                        width="12px"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <div class="dropdown-content">
                    {
                        AllProjects.pages.map((post) => (
                            <a href={post.glob}>{post.title}</a>
                        ))
                    }
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn" href="javascript:void(0)">
                    Other fun stuff
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-6 h-6"
                        width="12px"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <div class="dropdown-content">
                    <a href="/other/🐸">🐸</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
