---
---

<style>
    .topContainer {
        background-color: #090909;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .topImage {
        width: 100%;
    }
</style>

<div class="topContainer">
    <video width="100%" height="100%" autoplay muted>
        <source src="https://github.com/supersliser/MaebeeTVAstro/blob/master/src/images/MaebeeTVLogo.mp4" />
    </video>
</div>
