---
const { title, subtitle, PrimaryColor, NavTextColor } = Astro.props;
---

<style>
    .topContainer {
        background-color: #090909;
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="topContainer">
    <video width="100%" autoplay muted loop>
        <source
            src="https://cdn.discordapp.com/attachments/876842478291013652/1112448993499287742/MaebeeTVLogo.mp4"
            type="video/mp4"
        />
        video not available
    </video>
</div>
