---
const { text } = Astro.props;
const { color } = Astro.props;
import "../styles/basic.css";
---

<div class="top">
    <h1 class="subtitle sansSerif">{text}</h1>
</div>

<style define:vars={{ color }}>
    .top {
        position: static;
        margin-top: -0.5rem;
        background-color: var(--color);
        width: 101%;
        overflow: hidden;
        margin-left: -0.5rem;
    }
</style>