---
const { frontmatter } = Astro.props;
import BasicLayout from "../layouts/BasicLayout.astro";
import Top from "../components/Top.astro";
---

<BasicLayout frontmatter={frontmatter}>
	<Top text={frontmatter.subtitle} color={frontmatter.PrimaryColor} />
	<div class="MainBody smallGapFlex">
		<div class="text">
			<div class="smallGapFlex width">
				<slot class="serif p" />
			</div>
		</div>
	</div>
</BasicLayout>