---
const { frontmatter } = Astro.props;
import Layout from "../layouts/MDLayout.astro";
---

<Layout frontmatter={frontmatter}><slot /></Layout>
<div class="text p">
    <h1 class="serif">Want to join our team?</h1>
    <p class="serif p">
        Our company is commited to providing safe and friendly environments that
        can ensure the highest quality productions are created. Our films are
        made as a single team, with smaller groups assigned based on your own
        unique talents and quirks. Each team is given important tasks with
        flexible deadlines, all in the spirit of raising awareness and
        encouraging others to share their stories.
    </p>
    <iframe
    class="p"
        src="https://docs.google.com/forms/d/e/1FAIpQLSdaBYNVmnUodH3BqEIymy7LIrWOhiGqPkH2OF0i-wPWj-YkQA/viewform?embedded=true"
    >
        Loading Google Form...
    </iframe>
</div>
