---
const { frontmatter } = Astro.props;
import BasicLayout from "../layouts/BasicLayout.astro";
import Top from "../components/Top.astro"
---

<BasicLayout>
	<Top text={frontmatter.subtitle} color={frontmatter.PrimaryColor}/>
	<div class="MainBody">
		<div class="intro">
			<img src={frontmatter.image.url} alt={frontmatter.image.alt}/>
		</div>
		<div class="MainBody">
			<slot />
		</div>
	</div>
</BasicLayout>


